<% provide(:title, "Register") %>


<% if !signed_in? %>

	<h1>Welcome to the Project To Do App</h1>



<table id="users">
<thead>
<tr>
  <th>Project
    </th>
   <th>Task
    </th>
   <th>Task Status
    </th>
    <th>Depends On
    </th>
   <th>Needed
    </th>
  </tr>
</thead>
<tbody>
<% current_user.projects.each do |projects| %>

<!-- task-->
      <% projects.tasks.each do |tasks| %>          
      <tr><td><%=projects.name%></td>
          <td><%= tasks.description %></td>
          <td><%= tasks.status %></td>
<!-- task dependency-->
          <td>
              <% tasks.deps.each do |td| %>
              <% if td.completed == 'YES' %>
                    <font color="green">
              <% else %>
                    <font color="red">
              <%end %> 
                    <%= td.description %></font><br>
              <%end %>
        </td>
          <td>
              <% tasks.inverse_deps.each do |itd| %>
              <% if itd.completed == 'YES' %>
                    <font color="green">
              <% else %>
                    <font color="red">
              <%end %> 
                    <%= itd.description %></font><br>
              <%end %>
        </td>


        </tr>
      <% end %>            

<% end %> 
</tbody>
</table>


<% else %>


<br><br>
<p>
The Task Management To-Do System is a collaborative web application that will provide a one-stop shop for managing your To Do Lists for your project. This application will allow users to:<ul>
<li>Create projects</li><li>Assign users to a project</li><li>Assign tasks and subtasks</li><li>Assign timelines to a project</li><li>Add notes</li><li>Assign a status</li><li>View reports</li>
</ul></p>

Projects will also be able to be updated with pertinent details by the Project Manager or by a person assigned to a task in the project.

<br>

	   <%= form_for(:session, url: sessions_path) do |f| %>

	      <%= f.label :email %>
	      <%= f.text_field :username %>

	      <%= f.label :password %>
	      <%= f.password_field :password %>

	      <%= f.submit "Log In" %>
	    <% end %>

<p>OR </p>
<p>Register if you are a new User <%= link_to "Register", register_path %></p>

<% end %>