<h1>Listing taskdeps</h1>

<table>
  <tr>
    <th>Parent</th>
    <th>Child</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @taskdeps.each do |taskdep| %>
  <tr>
    <td><%= taskdep.parent_id %></td>
    <td><%= taskdep.child_id %></td>
    <td><%= link_to 'Show', taskdep %></td>
    <td><%= link_to 'Edit', edit_taskdep_path(taskdep) %></td>
    <td><%= link_to 'Destroy', taskdep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Taskdep', new_taskdep_path %>
