<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="field">
    <%= f.label :project_id %><br />
    <%= f.collection_select(:project_id, Project.all, :id, :name) %>

   <!-- {:selected_value => @project.id}) %>-->


<br />
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, [['Not Started','NOTSTARTED'],['Started','STARTED'],['Finish','FINISH']] %>
  </div>
    <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>

<!--
  <div class="field">
    <%= f.label "Add Dependency" %><%= @task.child.count %><br />
    <%= f.collection_select(:id, Task.all, :id, :description, {:selected_value => nil}) %>
<br />
-->
  <div class="field">
    <%= f.label :completed %><br />
    <%= f.select :completed, [['No','NO'],['Yes','YES']] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
