<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%   params[:project] %>

<div class="field">
    <%= f.label :project_id %>
    <%= f.collection_select(:project_id,  Project.all, :id, :name, :selected => params[:project]) %>

   <!-- {:selected_value => @project.id}) %>-->

  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :status %>
    <%= f.select :status, [['Not Started','NOTSTARTED'],['Started','STARTED'],['Finish','FINISH']] %>
    <%= f.label :comments %>
    <%= f.text_field :comments %>
  
    <%= f.label :completed %>
    <%= f.select :completed, [['No','NO'],['Yes','YES']] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
<br>
<%= link_to 'Add dependency', new_taskdependent_path(:dep => @task.description, :task_id => @task.id,) %>
<br>

