<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%   params[:project] %>

<div class="field">
    <%= f.label :project_id %>
    <%= f.collection_select(:project_id,  Project.all, :id, :name, :selected => params[:project]) %>
    <%= f.label :description %>
    <%= f.text_field :description %>
  
<%= @project_id %>
<!-- Check Deps before update status  -->
  <%= f.label :status %>
<% if @task.deps.any? %> 
    <% for deps in @task.deps %> 
         <% if deps.status != 'FINISH'%> 
              <% @nofinish = 1%>
            <% end %>
    <% end %>
  </ul>
<% end %>


<% if @nofinish==1 %> 
    <font color ="red">Finish Dependencies First, Before Marking Finish</font><br>
      <%= f.select :status, [['Not Started','NOTSTARTED'],['Started','STARTED']] %>
<%else %>
      <%= f.select :status, [['Not Started','NOTSTARTED'],['Started','STARTED'],['Finish','FINISH']] %>
<% end %>

    <%= f.label :comments %>
    <%= f.text_field :comments %>
  

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>



<!--add deps -->
<%= link_to 'Add dependency', new_taskdependent_path(:dep => @task.description, :task_id => @task.id) %>
<br>

<!-- Needs this  -->
<% if @task.deps.any? %>
  <h1> Still Waiting For <%=   + @task.deps.count %> Tasks To Finish</h1>
  <ul>
    <% for deps in @task.deps %>
<!--  gets taskdep for deletion.  t only picks up the last taskdep value-->
      <% @task.taskdependents.each do |td| %>
        <% if (td.dep_id.to_s).eql?(deps.id.to_s) %>
              <% @taskdep_id = td.id%>
        <% end%>
      <% end%>
          <li>
                  <% if deps.status == 'FINISH' %>
                        <font color="green">
                  <% elsif deps.status == 'STARTED' %>
                        <font color="blue">
                  <% else %>
                        <font color="red">
                  <%end %> 
                    <%= link_to deps.description, edit_task_path(deps)%>
                    
                    (<%= deps.status %>)</font>
    <%= link_to 'Destroy',
      {:controller => 'taskdependents', :action => 'destroy', :id => @taskdep_id, :taskid => @task.id},
      { confirm: 'Are you sure?', :method => :delete} %>
    </li>

    <% end %>
  </ul>

<% else %>

 <% end %>


<!-- Needed By  -->

<% if @task.inverse_deps.any? %>
  <h1>Holding Up <%=@task.inverse_deps.count %> Task(s)
   </h1>
  <ul>
    <% for tasks in @task.inverse_deps %>
      <li><%=h tasks.description %></li>
    <% end %>
  </ul>
<% else %>
  <h1>This Task Is Not Holding Anyone Behind </h1>
<% end %>



