<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%   params[:project] %>


<table border="0" width="100%">
<tr>
<td><b>Project: </b></td>
<td width="100%"><%= f.collection_select(:project_id,  Project.all, :id, :name, :selected => params[:project]) %></td>
</tr>
<tr>
<td><b>Task Name: </b></td>
<td><%= f.text_field :description, :cols => "60", :rows => "4" %></td>
</tr>
<tr>
<td><b>User: </b></td>
<td><% @task.user_id %><%= f.collection_select(:user_id,  User.all, :id, :username) %></td>
</tr>
<tr>
<td><b>Status: </b></td>
<td><%= @project_id %>
<!-- Check Deps before update status  -->

<% if @task.deps.any? %> 
    <% for deps in @task.deps %> 
         <% if deps.status != 'FINISH'%> 
              <% @nofinish = 1%>
            <% end %>
    <% end %>
<% end %>
<% if @nofinish==1 %> 
    <font color ="red">Finish Dependencies First, Before Marking Finish</font><br>
      <%= f.select :status, [['Not Started','NOTSTARTED'],['Started','STARTED']] %>
<%else %>
      <%= f.select :status, [['Not Started','NOTSTARTED'],['Started','STARTED'],['Finish','FINISH']] %>
<% end %>
</td>
</tr>
<tr>
<td><b>Comments: </b></td>
<td> <%= f.text_area :comments, :cols => "60", :rows => "6" %></td>
</tr>
<tr>
<td></td>
<td>
  <div class="actions">
    <%= f.submit %>
  </div>
</td>
</tr>
</table> 
  <% end %>



<!--add deps -->
 <%= link_to 'Add dependency', new_taskdependent_path(:dep => @task.description, :task_id => @task.id) %> 
<br>
<%= link_to 'Delete Task', @task, method: :delete, data: { confirm: 'Are you sure you want to delete task: ' } %>

<!-- Needs this  -->
<% if @task.deps.any? %>
  <h1> Still Waiting For <%=   + @task.deps.count %> Tasks To Finish</h1>
  <ul>
    <% for deps in @task.deps %>
<!--  gets taskdep for deletion.  t only picks up the last taskdep value-->
      <% @task.taskdependents.each do |td| %>
        <% if (td.dep_id.to_s).eql?(deps.id.to_s) %>
              <% @taskdep_id = td.id%>
        <% end%>
      <% end%>
          <li>
                  <% if deps.status == 'FINISH' %>
                        <font color="green">
                  <% elsif deps.status == 'STARTED' %>
                        <font color="blue">
                  <% else %>
                        <font color="red">
                  <%end %> 
                    <%= link_to deps.description, edit_task_path(deps)%>
                    
                    (<%= deps.status %>)</font>
    <%= link_to 'Destroy',
      {:controller => 'taskdependents', :action => 'destroy', :id => @taskdep_id, :taskid => @task.id},
      { confirm: 'Are you sure?', :method => :delete} %>
    </li>

    <% end %>
  </ul>

<% else %>

 <% end %>


<!-- Needed By  -->

<% if @task.inverse_deps.any? %>
  <h1>Holding Up <%=@task.inverse_deps.count %> Task(s)
   </h1>
  <ul>
    <% for tasks in @task.inverse_deps %>
      <li><%=h tasks.description %></li>
    <% end %>
  </ul>
<% else %>
  <h1>This Task Is Not Holding Anyone Behind </h1>
<% end %>



