<h3>Summary: Project Tasks</h3>

<table id="tasks">
<thead>
  <tr>
    <th>Project Description</th>
    <th>Project Name</th>
    <th>Completed?</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<% @tasks.each do |task| %>
<tbody>
  <tr>
    <td><%= link_to task.description, task %></td>
    <td><%= task.project.name %></td>
    <td><%= task.completed %></td> 
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure you want to delete task: ' + task.description  } %></td>
  </tr>
<% end %>
</tbody>

</table>

<br />
<br><br>

<%= link_to 'Add New Task', new_task_path %>
</p>