<p id="notice"><%= notice %></p>

<h1>Listing </h1>


<p>
  <b>Description:</b>
<%= link_to @task.description, edit_task_path(@task) %>
</p>

<p>
  <b>Project Id:</b>
  <%= @task.project_id %>

</p>

      <p>Dependent Tasks:<%=   + @task.child.count %></p>
	  <% @task.child.each do |subtask| %>
   		     <%= link_to subtask, new_task_path(:task => subtask) %> 
	  <% end %>

<p>
  <b>Completed:</b>
  <%= @task.completed %>

</p>



<%= link_to 'Back', tasks_path %>
