
<h2>Tasks </h2>

<p>
  <b>Project Name:</b>
  <%= @task.project.name %>
<br>
  <b>Task Description:</b>
<%= link_to @task.description, edit_task_path(@task) %>
<br>
  <b>Task Comments:</b>
  <%= @task.comments %>
<br>
  <b>Task Status:</b>
  <%= @task.status %>

<% if @task.deps.any? %>
	<p># of dependent tasks:<%=   + @task.deps.count %></p>
	<ul>
	  <% for deps in @task.deps %>
	    <li>
	    <%= deps.description %>
		(<%= link_to "remove", deps, :method => :delete %>)
	</li>
	  <% end %>
	</ul>

<% else %>
	<p>No Dependent Tasks</p>
 <% end %>

<p>
  <b>Completed:</b>
  <%= @task.completed %>
</p>


<% if @task.inverse_deps.any? %>
	<h2><%=@task.inverse_deps.count %>
	other Task(s) Relies on this Task: </h2>
	<ul>
	  <% for tasks in @task.inverse_deps %>
	    <li><%=h tasks.description %></li>
	  <% end %>
	</ul>
<% else %>
	<h2>No other Tasks Rely on this Task: </h2>
<% end %>

<%= link_to 'Add dependency', new_taskdependent_path(:dep => @task.description, :task_id => @task.id,) %>|
<%= link_to "Edit Task ", edit_task_path(@task) %>|
<%= link_to 'List Tasks', tasks_path %>
