<tr>
    <td><%= f.label :Project%></td>
    <td><%= f.text_field :name%></td>
    <td><%= f.hidden_field :_destroy%>
    <%= link_to "remove", project_path(f.object.id), :confirm => "Are you sure?", :method => :delete %></td>
</tr>
   <tr>
   	<td><%= f.label :Tasks%></td><td></td><td></td>
     <%= f.fields_for :tasks do |builder| %>
  		<%= render 'tasks_field', f: builder %>
	<% end %>    
	<td><%= link_to_add_fields "Add Task", f, :tasks %></td>
</tr>
  
