<% provide(:title, @user.username) %>


<p>
  <h1>User:
  <%= link_to @user.username, edit_user_path(@user) %>
  </h1>

</p>


 <% if @user.projects.any? %>
      <p># of Projects (<%= @user.projects.count %>)</p>
    <% else %>
  <p>no projects</p>
    <% end %>
 <% if @user.tasks.any? %>
      <p># of Tasks (<%= @user.tasks.count %>)</p>
    <% else %>
  <p>no tasks</p>
    <% end %>

<table id="users">
<thead>
<tr>
  <th>Project
    </th>
   <th>Task
    </th>
   <th>Task Status
    </th>
    <th>Depends On
    </th>
   <th>Needed
    </th>
  </tr>
</thead>
<tbody>
<% @user.projects.each do |projects| %>

<!-- task-->
      <% projects.tasks.each do |tasks| %>          
      <tr><td><%=projects.name%></td>
          <td><%= tasks.description %></td>
          <td><%= tasks.status %></td>
<!-- task dependency-->
          <td>
              <% tasks.deps.each do |td| %>
              <% if td.completed == 'YES' %>
                    <font color="green">
              <% else %>
                    <font color="red">
              <%end %> 
                    <%= td.description %></font><br>
              <%end %>
        </td>
          <td>
              <% tasks.inverse_deps.each do |itd| %>
              <% if itd.completed == 'YES' %>
                    <font color="green">
              <% else %>
                    <font color="red">
              <%end %> 
                    <%= itd.description %></font><br>
              <%end %>
        </td>


        </tr>
      <% end %>            

<% end %> 
</tbody>
</table>




<!--
 <% if @user.projects.any? %>
      <h1># of Projects (<%= @user.projects.count %>)</h1>
	<%= render @projects %>	
	<%= will_paginate @projects %>	
    <% else %>
	<h1>no projects</h1>
    <% end %>


 <% if @user.tasks.any? %>
      <h1># of Tasks (<%= @user.tasks.count %>)</h1>
    <%= render @tasks %> 
    <% else %>
  <h1>no tasks</h1>
    <% end %>

  -->
<br>
<%= link_to 'Create Project', new_project_path %> |
<%= link_to 'Edit User', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
