<% provide(:title, @user.username) %>
<p id="notice"><%= notice %></p>

<p>
  <h1>User:
  <%= link_to @user.username, edit_user_path(@user) %>
  </h1>
  <b>Last Updated</b>
  <%= @user.updated_at %>
  <b>Created</b>
  <%= @user.created_at %>
</p>

 <% if @user.projects.any? %>
      <h3># of Projects (<%= @user.projects.count %>)</h3>
	<%= render @projects %>	
	<%= will_paginate @projects %>	
    <% else %>
	<h3>no projects</h3>
    <% end %>


  

<%= link_to 'Create Project', new_project_path %> |
<%= link_to 'Edit User', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
