<h1>Listing User Profiles</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Email</th>
    <th>Phone</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_profiles.each do |user_profile| %>
  <tr>
    <td><%= user_profile.firstname %></td>
    <td><%= user_profile.lastname %></td>
    <td><%= user_profile.address %></td>
    <td><%= user_profile.city %></td>
    <td><%= user_profile.state %></td>
    <td><%= user_profile.zip %></td>
    <td><%= user_profile.email %></td>
    <td><%= user_profile.phone %></td>
    <td><%= link_to 'Show', user_profile %></td>
    <td><%= link_to 'Edit', edit_user_profile_path(user_profile) %></td>
    <td><%= link_to 'Destroy', user_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User profile', new_user_profile_path %>