<h1>Projects</h1>

<table id="projects" >
 <thead> 
  <tr>
    <th>Project Name</th>
    <th>Description</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>User Name</th>
    <th>Edit</th>
    <th>Delete</th>
	<th>Report</th>
  </tr>
 </thead>
  <tbody>
<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, project %></td>
    <td><%= project.description %></td>
    <td><%= project.start_date %></td>
    <td><%= project.end_date %></td>
    <td><%= project.user.username %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure you want to delete project: ' + project.name  } %></td>
    <td><a href="/projects/<%= project.id %>/report">Report</a></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'Create a New Project', new_project_path %>

<h1> Activity </h1>

<% current_user.projects.each do |projects| %>
      <li>Project <%=link_to projects.name, projects%> </li>

<!-- task-->
      <% projects.tasks.each do |tasks| %>          
      <ul>

          <ul>Task <%=link_to tasks.description,  tasks%> 
               Updated: <%= time_ago_in_words(tasks.updated_at) %> by 
              <%= current_user.username %>
                </ul>

           <ul>

<!-- Notes Need to put in recursion -->

        <% tasks.deps.each do |td| %>

             <ul>Depends On:

              <% td.inverse_deps.each do |atd| %>
                        <ul>(<%= td.description %> <-- <%= atd.description %>)


                            <% atd.inverse_deps.each do |btd| %>
                                <ul>(<%= atd.description %> <-- <%= btd.description %>)

                                      <br>

                                    <% btd.inverse_deps.each do |ctd| %>
                                      <ul>(<%= btd.description %> <-- <%= ctd.description %>)
                                      <br></ul>
                                    <%end %>
                            <%end %>        
              <%end %>
                </ul></ul></ul></ul>
        <%end %>
        </ul>
        </ul>
      <% end %>            

<% end %> 