<p id="notice"><%= notice %></p>

<h1>Project:
  <%= @project.name %></h1>

 <% if @project.tasks.any? %>
      <h3># of Total Tasks (<%= @project.tasks.count %>)</h3>
  <% 
      @total = @project.tasks.count.to_f
      @finish = @project.tasks.where(:status => 'FINISH').count.to_f

  %>
        <b><center><%= number_with_precision((@finish/@total)*100, :precision => 0)%></b>% Complete (Task Finish/Total Task)</center>
      <br>
	  <center>
	  <table>
	  <tr>
<!--	    <td style="text-align: right; font-weight: bold; background-color: #eaeaff;" rowspan=2>Incomplete Tasks:&nbsp;</td>
	    <td style="font-weight: bold; background-color: #eaeaff;" rowspan=2><%= @project.tasks.where(:completed => 'NO').count %></td>
		<td style="font-weight: bold; background-color: #eaeaff;" width="50px">&nbsp;</td>
-->
	    <td style="text-align: right; font-weight: bold; background-color: #eaeaff;">Assigned/Unstarted Tasks:&nbsp;</td>
	    <td style="font-weight: bold; background-color: #eaeaff;"><%= @project.tasks.where(:status => 'NOTSTARTED').count %></td>
	  </tr>
	  <tr>
<!--		<td style="font-weight: bold; background-color: #eaeaff;" width="50px">&nbsp;</td>
-->
	    <td style="text-align: right; font-weight: bold; background-color: #eaeaff;">Started Tasks:&nbsp;</td>
	    <td style="font-weight: bold; background-color: #eaeaff;"><%= @project.tasks.where(:status => 'STARTED').count %></td>
      </tr>
	  <tr>
<!--	    <td style="text-align: right; font-weight: bold; background-color: #ddddff;">Complete Tasks:&nbsp;</td>
	    <td style="font-weight: bold; background-color: #ddddff;"><%= @project.tasks.where(:completed => 'YES').count %></td>
		<td style="font-weight: bold; background-color: #ddddff;" width="50px">&nbsp;</td>
-->
	    <td style="text-align: right; font-weight: bold; background-color: #ddddff;">Finished Tasks:&nbsp;</td>
	    <td style="font-weight: bold; background-color: #ddddff;"><%= @project.tasks.where(:status => 'FINISH').count %></td>
      </tr>
      </table>
      </center>
<!--  <h3>Variance (<%= (@project.tasks.where(:completed => 'YES').count - @project.tasks.where(:status => 'FINISH').count).abs %>)</h3>
-->
      <br>	  
    <% else %>
  <p>no tasks</p>
    <% end %>
<br>


<%= link_to 'Add Task', new_task_path(:project => @project.id) %> |
<%= link_to 'Edit Project', edit_project_path(@project) %> |
<%= link_to 'Return Back', projects_path %>

