<p id="notice"><%= notice %></p>

<h1>Project:
  <%= @project.name %></h1>

<p>
  <b>Description:</b>
  <%= @project.description %>
  <b>Start date:</b>
  <%= @project.start_date %>
  <b>End date:</b>
  <%= @project.end_date %>
</p>

<p>

 <% if @project.tasks.any? %>
       <h3># of Tasks: <%= @project.tasks.count %></h3>
         <%= render @tasks %> 
        <%= will_paginate @tasks %>  

    <% else %>
  <h3>no Tasks</h3>
    <% end %>

</p>

<%= link_to 'Add Task', new_task_path %> |
<%= link_to 'Edit Project', edit_project_path(@project) %> |
<%= link_to 'Return Back', projects_path %>
