<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @project.owner %>
</p>

<p>
  <b>Start date:</b>
  <%= @project.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @project.end_date %>
</p>

<p>
  <b>Tasklist:</b>
  <%= @project.taskList %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
