<p id="notice"><%= notice %></p>
<center>
<h3>Project:
  <%= @project.name %></h3>
<img src="/assets/myborder.png" />
</center>


  <b>Project Description:</b>
  <%= @project.description %>
  <br>
  <b>Start:</b>
  <%= time_ago_in_words(@project.start_date) %>
  <b>End:</b>
  <%= time_ago_in_words(@project.end_date) %>
</p>


<p>

 <% if @project.tasks.any? %>
       <h3># of Tasks: <%= @project.tasks.count %></h3>
         <%= render @tasks %> 
        <%= will_paginate @tasks %>  

    <% else %>
  <h3>no Tasks</h3>
    <% end %>

</p>
<BR><BR>

<%= link_to 'Add Task', new_task_path %> |
<%= link_to 'Edit Project', edit_project_path(@project) %> |
<%= link_to 'Return Back', projects_path %>

<p>
<BR><BR><BR><BR><BR><BR>

<hr width="100%"> 
<b>Edit History:</b>
<%=  current_user.username + ' your last update was ' %>
<%=  time_ago_in_words(current_user.updated_at) %>