<!DOCTYPE html>
<html>
<head>
  <title>PsuTodo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
              <%= link_to "Home",    '/home' %>
              <%= link_to "Project",    '/projects' %>
              <%= link_to "Users",    '/users' %>

<%= yield %>
<%= debug(params) if Rails.env.development? %>

<h5>PSU Team 4 SWENG 500</h5>
</body>
</html>
