<!DOCTYPE html>
<html>
<head>
  <title>Task Management ToDo's</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class ="navbar navbar-fixed-top">
	<div class = "navbar-inner">
		<div class = "container">
			<nav>
				<%= link_to "Home", '#' %> |
				<%= link_to "Projects", '#' %> | 
				<%= link_to "MyTasks", '#' %> | 
				<%= link_to "Users", '#' %> 
			</nav>	
		</div>
	</div>
</header>
<div class = "container">
<%= yield %>
<%= render 'layouts/footer' %>
</div>

</body>
</html>
