<!DOCTYPE html>
<html>
<head>
  <title>PsuTodo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
            <ul>
              <li><%= link_to "Home",    '#' %></li>
              <li><%= link_to "Project",    '#' %></li>
              <li><%= link_to "Users",    '#' %></li>
            </ul>

<%= yield %>

</body>
</html>
